{% extends "bootstrap5/base.html" %}
{% load static %}
{% load cms_tags %}
{% load menu_tags %}

{% block navbar %}
  <div style="
    background-color: #2B6CA3;
    color: white;
    padding: 20px 0;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 1px;
    position: relative;
  ">
    <div style="
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      position: relative;
    ">
      <!-- Stemma sinistro -->
      <img src="{% static 'Logo Ospedale Verona.avif' %}" alt="Stemma SX" style="
        left: 0;
        height: 7%;
	border-radius: 50%;
        width: 7%;
        object-fit: contain;
	margin-bottom: 17%;
	margin-top: -11%;
      ">

      <!-- Logo centrale e testo -->
      <div style="display: flex; align-items: center; text-align: left;margin-top: 2%">
        <img src="{% static 'logo.png' %}" alt="Logo" style="
          height: 35%;
          width: 35%;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 30px;
        ">
        <div style="margin-bottom: 10%;margin-left: -2%;">
          <p style="margin-left: -20%;margin-top: -1%">Azienda Ospedaliera Universitaria Integrata di Verona</p>
	  <br>
          <h1 style="margin: 5px 0;">CENTRO MISTRA</h1>
	  <br>
          <h2 style="margin: 5px 0;">Centro</h2>
	  <h2 style="margin: 5px 0;font-weight: 320;"><strong>M</strong>ultidisciplinare</h2>
          <h4 style="margin: 0;font-weight: 320"><strong>I</strong>nfezioni <strong>S</strong>essualmente <strong>Tras</strong>messe</h4>
        </div>
      </div>

      <!-- Stemma destro -->
      <img src="{% static 'Logo Università Verona.avif' %}" alt="Stemma DX" style="
        right: 0;
        height: 10%;
	border-radius: 50%;
        width: 7%;
        object-fit: contain;
	margin-bottom: 17%;
	margin-top: -11%;
      ">
    </div>
  </div>

  {{ block.super }}
{% endblock %}