{% extends "base.html" %}

{% block title %}Homepage Quiz{% endblock %}

{% block content %}
    <h1 class="mb-4">Benvenuto nella sezione Quiz</h1>

    {% for test in tests %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ test.name }}</h5>
                <p class="card-text">{{ test.description }}</p>
                <a href="{% url 'quiz-question' test.id %}" class="btn btn-primary">Inizia il Test</a>
            </div>
        </div>
    {% empty %}
        <p class="text-muted">Non ci sono test disponibili.</p>
    {% endfor %}
{% endblock %}
